{% extends 'base.html' %}
{% block title %}Новая тема | {{ category.title }}{% endblock %}
{% block content %}
<div class="forum-layout">
    <div class="forum-main">
        <div class="forum-category">
            <div class="forum-title">Новая тема в {{ category.title }}</div>
            <form method="post" class="auth-form">
                <label>Заголовок темы
                    <input type="text" name="title" required>
                </label>
                <label>Сообщение
                    <textarea name="content" rows="6" required style="resize:vertical;min-height:100px;"></textarea>
                </label>
                <button type="submit" class="btn">Создать тему</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} 